<div class="container-answer">
  <h1>Stupid Coaching</h1>
  <div>
    <p class="conv"><%= @question %></p>
    <p>- You</p>
  </div>
  <div>
    <p class="conv"><%= @answer %></p>
    <p>- Coach</p>
  </div>
  <a href="/ask">Ask a new question</a>
</div>
